@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logoMin{
  width: 60px;
}

.banner{
  padding-top: 5%;
}
.banner-button{
  text-align: center;
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
}

.book{
  background-color: black;
  margin-bottom: 2px;
  color: white;
  width: 240px;
  padding: 10px;
  font-size: 18px;
}

.bookings{
  background-color: white;
  margin-top: 2px;
  color: black;
  width: 240px;
  padding: 10px;
  font-size: 18px;
}

.staff-card{
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
 
}
.image-staff{
  width: 120px;
}

.lik_bookme{
  text-decoration: none;
}
p{
  margin-top: 40px;
}